<div class="container-fluid">
    <form #cadastro="ngForm" (ngSubmit)="cadastrar(); cadastro.reset()">
      <div class="form-group">
        <label>Nome</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.nome"
          name="nome"
        />
        {{ user.nome }}
      </div>
      <div class="form-group">
        <label>CPF</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="user.cpf"
          name="cpf"
          required
        />
        {{ user.cpf }}
      </div>
      <div class="form-group">
        <label>Dia do aniversário</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="user.diaNiver"
          name="diaNiver"
        />
        {{ user.diaNiver }}
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="user.senha"
          name="text"
          required
        />
        {{ user.senha }}
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
        Cadastrar
      </button>
    </form>
  </div>